/* normalize a tag */
/* Dark mode colors. */
:root {
    --sl-color-accent-low: #3d160d;
    --sl-color-accent: #bc2d00;
    --sl-color-accent-high: #ff6a47;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #ededef;
    --sl-color-gray-2: #c2c2c3;
    --sl-color-gray-3: #8b8b8e;
    --sl-color-gray-4: #58585a;
    --sl-color-gray-5: #38383a;
    --sl-color-gray-6: #29292b;
    --sl-color-black: #181819;
}
/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent-low: #f4cdc2;
    --sl-color-accent: #ff6a47;
    --sl-color-accent-high: #591b0c;
    --sl-color-white: #181819;
    --sl-color-gray-1: #262628;
    --sl-color-gray-2: #38383a;
    --sl-color-gray-3: #58585a;
    --sl-color-gray-4: #8b8b8e;
    --sl-color-gray-5: #c2c2c3;
    --sl-color-gray-6: #ededef;
    --sl-color-gray-7: #f6f6f7;
    --sl-color-black: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}

.site-title img {
    width: auto;
    height: 28px;
}

.hero h1 {
    font-size: 2.5em;
}

input[type='checkbox'] {
    width: 16px;
    height: 16px;
    appearance: none;
    border: 2px solid #4CAF50; /* Green border */
    border-radius: 4px;
    outline: none;
    transition: background 0.3s;
    position: relative;
}

input[type='checkbox']:checked {
    background-color: #4CAF50; /* Green background */
    border-color: #4CAF50;
}

input[type='checkbox']:checked:after {
    content: '';
    position: absolute;
    left: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.download-pdf {
    width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    background-color: lightgray;
    border-radius: 12px;
    color: black !important;

}
.download-pdf:hover {
    color: hsl(234, 90%, 60%) !important;
}

code {
    line-height:normal;
    background:rgba(135,131,120,.15);
    color:rgba(155, 155, 155, 1);
    border-radius:4px;
    font-size: 85% !important;
    padding: 4px 6px !important;
    fill:rgba(155, 155, 155, 1)
}

@media screen and (min-width: 1300px) {
    .sl-container {
        margin: 0 !important;
        max-width: none !important;
    }

    .main-pane {
        width: 100% !important;
    }

    .right-sidebar-container {
        max-width: calc(32px + var(--sl-sidebar-width) - 2 * var(--sl-sidebar-pad-x)) !important;
        min-width: calc(32px + var(--sl-sidebar-width) - 2 * var(--sl-sidebar-pad-x)) !important;
    }
}

.sl-container:has(.hero) {
    margin: var(--sl-content-margin-inline, auto) !important;
    max-width: var(--sl-content-width) !important;
}